.idea/
.vscode/
.DS_Store
*.swp

vendor/

.env
.env.local
back/.env
front/.env.production
front/.env.development

*.log
back/var/cache/
back/var/logs/
.phpunit.result.cache
.php_cs.cache

composer.phar

node_modules/
dist/
.sass-cache/

docker-data/